@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?9ochfm');
  src:  url('../fonts/icomoon.eot?9ochfm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?9ochfm') format('truetype'),
    url('../fonts/icomoon.woff?9ochfm') format('woff'),
    url('../fonts/icomoon.svg?9ochfm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nucssa:before {
  content: "\e900";
}
