
* {
  box-sizing: border-box;
}

/**
 * Fixing default styling
 */
#wpcontent { padding-left: 0 !important; }
#wpbody-content {padding-bottom: 0;}

.btn {
  border-radius: 6px;
  padding: 5px 20px;

  &:hover {cursor: pointer;}
  &:focus {box-shadow: none; outline: none;}
}
