
* {
  box-sizing: border-box;
}

/**
 * Fixing default styling
 */
#wpcontent { padding-left: 0 !important; }
#wpbody-content {padding-bottom: 0;}

.btn {
  border-radius: 6px;
  padding: 5px 20px;

  &:hover {cursor: pointer;}
  &:focus {box-shadow: none; outline: none;}
}

.search-dropdown {
  position: relative;

  label {
    position: relative;
    display: flex;
    align-items: center;

    .dashicons{
      position: absolute;
      line-height: 1rem;
      color:$divider-thin-light-gray;
      font-size: 1rem;
      padding:2px;
      transform: translateX(0.25rem);
    }
    input{
      border-radius: 6px; border: 2px solid #EBEDED;
      line-height: 1rem;
      padding-left: 1.3rem;
      caret-color: $header-text-gray;
      color: $header-text-gray;
      font-weight: 100;
    }
  }
  ul.dropdown-items {
    position: absolute;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0 3px 7px;
    min-width: 100%;
    margin: 0;
    padding: 0.5rem 0;
    border-radius: 6px;

    li {
      margin: 0;
      padding: 0.5rem;
      display: flex;
      justify-content: center;


      &.active {
        background-color: $divider-thin-light-gray;
      }

      span{display: block;width:100%;color: #000 !important;}
      .dashicons{margin-right: 0.2rem;}
    }
    li + li {
    }
  }
}