$screen-md-min: 782px;
$screen-lg-min: 960px;

// Colors
$highlight: #3B86FF;
$nucssa-red: #D92110;
$nucssa-light-red: #F3999D;
$light-gray: #E9E9F0;
$icon-dark-green: #00875A;
$icon-dark-red: #DE350B;
$icon-light-red: #FF6565;
$header-text-gray: #82878C;
$divider-thick-light-gray: #E8E9EC;
$divider-thin-light-gray: #DDD;