.roles-permissions-page {
  .instructions {
    text-align: center;
    .dashicons {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      color: white;
      text-align: center;
      line-height: 1rem;
      font-size: 1rem;

      &.dashicons-yes {background-color: $icon-dark-green;}
      &.dashicons-no-alt {background-color: $icon-dark-red;}
    }

    table {
      display: inline-block;
      border-collapse: collapse;
      thead {
        color: $header-text-gray;
        border-bottom:solid 3px $divider-thick-light-gray;
        tr.heading {
          font-weight: bold;

          th {padding-bottom: 0.7rem;}

          th:not(:last-of-type):not(:first-of-type) {
            position: relative;
            &::after {
              content: '';
              display: inline-block;
              width: 1px;
              height: 11.2rem;
              box-sizing: border-box;
              background: $divider-thin-light-gray;
              position: absolute;
              right: 0;
              transform: translateY(1.8rem);
            }
          }
        }
        tr.subheading {
          th {width: 3.1rem;font-weight: normal;padding: 0 0.7rem 0.5rem;}
          td:last-of-type {
            padding-right: 1rem;
          }
        }
      }
      tbody {
        tr {
          th {padding: 0.5rem 1rem;text-align: left;font-weight: 100;}
        }
      }
    }
  }

  .role-entries-subsection, .grant-permission-subsection {
    padding: 1rem 2rem;
  }
  .role-entries-subsection {
    ul {
      li { display: flex; align-items: center;
        .name{
          min-width: 5rem;
          width: 40%;
          max-width: 10rem;
          display: inline-block;
        }
        select{
          width: 50%;
          border-radius: 6px;
          border: 2px solid #EBEDED;
          height: 2.5rem;
          color: #A6ADB4;
          font-size: 13px;
        }
        .actions{ display: flex; width: 10%; height: 2.5rem; align-items: center; justify-content: center;
          button { cursor: pointer;
            color: white; background-color: $nucssa-light-red;
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 50%; border: none; padding: 0;

            .dashicons{
              font-size: 0.8rem;
              font-weight: bold;
              width: 0.8rem;
              height: 0.8rem;
              transform: translateY(0.9px);
            }
          }
        }
      }
    }
  }
  .grant-permission-subsection {
    display: flex;
    align-items: center;
    border-top: 1px solid $divider-thick-light-gray;
    span{color: $header-text-gray; margin-right: 0.5rem;}

    .btn-add-grant {
      margin-left: 0.5rem;
      height: 1.5rem;
      padding: 0 1.5rem;
      color: $highlight;

      &:hover{background-color: $divider-thick-light-gray;}
    }
  }

  .btns-container{

    input[type="button"][value="Edit"] {
      color: #fff;
      border-radius: 6px;
      padding: 10px 70px;
      font-size: larger;
      background-color: $highlight;

      &:hover {
        cursor: pointer;
      }
    }
  }
}