#users-and-groups-admin-page {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 20px 25px;
  min-height: calc(100vh - 278px - 32px); // 278px for NUCSSAIT footer branding
                                          // 32px  for wp admin bar


  // Subpages
  @import './user-directory';
  @import './roles-permissions';

  // Nav Tabs on The Top
  .nav {
    border-bottom: 1px solid $light-gray;
    padding: 0.7rem 0;
    a {
      color: $nucssa-light-red;
      padding: 0 1rem;
      text-decoration: none;
      display: inline-block;

      &:focus {outline: none;box-shadow: none;}
      &::after{
        content: '';
        display: block;
        border: 1.5px solid $nucssa-red;
        transform: translateY(0.7rem) scaleX(1.4);
        box-sizing: border-box;
        opacity: 0;
        transition: all 320ms;
      }
      &.active {
        color: $nucssa-red;
        &::after{
          opacity: 1;
        }
      }
    }
    a + a {margin-left: 1rem;}
  }
}
