$blue-medium-500: #00a0d2;
$light-gray-100: #f8f9f9;
$light-gray-300: #edeff0;
$light-gray-900: #a2aab2;
$border-width: 1px;
$grid-size: 8px;

.editor-featured-post-banner-image {
	padding: 0;

	.components-spinner {
		margin: 0;
	}

	// Stack consecutive buttons.
	.components-button + .components-button {
		display: block;
		margin-top: 1em;
	}

	// This keeps images at their intrinsic size (eg. a 50px
	// image will never be wider than 50px).
	.components-responsive-wrapper__content {
		width: 100%;
	}
}

.editor-featured-post-banner-image__toggle,
.editor-featured-post-banner-image__preview {
	display: block;
	width: 100%;
	padding: 0;
	transition: all 0.1s ease-out;
	box-shadow: 0 0 0 0 $blue-medium-500;
}

.editor-featured-post-banner-image__preview:not(:disabled):not([aria-disabled="true"]):focus {
	box-shadow: 0 0 0 4px $blue-medium-500;
}

.editor-featured-post-banner-image__toggle {
	border: $border-width dashed $light-gray-900;
	background-color: $light-gray-300;
	line-height: 20px;
	padding: $grid-size 0;
	text-align: center;

	&:hover {
		background-color: $light-gray-100;
	}
}
