.wp-block-nucssa-club-info {
  @apply flex flex-row flex-wrap justify-center items-end;
  @apply p-4 shadow-2xl;

  h2 {
    @apply w-full text-center font-bold text-lg mb-2;
  }

  .thumbnail {
    width: 200px; height: 230px;

    .components-placeholder__label {@apply text-base font-bold}
    img {
      @apply h-full object-cover border-none;

      &:hover {
        filter: brightness(90%);
        @apply cursor-pointer;
      }
    }
  }

  .contact {
    @apply ml-4 flex-grow;
    h2 {@apply font-bold text-base}

    .components-base-control:last-of-type {
      @apply mb-0;
    }
  }

  .workshop-info {
    @apply w-full mt-4;

    h2 {
      @apply text-base;
      margin-top: 10px;
    }


    &::before{
      content: '';
      display: block;
      height: 2px;
      background: darkgray;
      width: 30%;
      position: absolute; left: 50%; transform: translateX(-50%) scaleY(.4);
    }
  }
}